<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" href="data:," type="image/x-icon">
<style>
.quote-text { font-style: italic; }
.quote { color: #999; margin-top: 52px; }
.date { color: #999; }
code { background: #ededed; padding: 2px; font-size: 0.9em; margin: 0 2px; }
a { color: rgb(101, 104, 170); }
ul { list-style: square; }
blockquote { font-style: italic; margin-right: 0; }
h1,h2,h3,h4 { font-weight: normal; }
body { line-height: 1.6em; font-family: 'Garamond', 'Georgia', serif; font-size: 17px; }
html { max-width: 58ch; padding: 1em; margin: auto; }
</style>
</head>
<body>
<main>
<a href="/">&lt;&lt;</a>
